<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Funcionários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <a href="#" class="logo"> <i class="fas fa-drumstick-bite"></i>Fogo & Brasa</a>
        <nav class="navbar">
            <a href="{{ url_for('prato.index') }}">Home</a>
            <a href="{{ url_for('prato.sobre') }}">Sobre</a>
            <a href="{{ url_for('prato.logout') }}">Logout</a>
            <a href="{{ url_for('prato.index') }}">Menu</a>
        </nav>
        <div id="menu" class="fas fa-bars"></div>
    </header>
<br>
<br>
<br>
<br>
    <main>
          <section class="booking">
            <h2>Lista de Funcionários</h2>
            <table class="employee-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Cargo</th>
                        <th>Email</th>
                        <th>CPF</th>
                        <th>Salario</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for funcionario in funcionarios %}
                        <tr>
                            <td>{{ funcionario.id }}</td>
                            <td>{{ funcionario.nome }}</td>
                            <td>{{ funcionario.cargo }}</td>
                            <td>{{ funcionario.email }}</td>
                            <td>{{ funcionario.cpf }}</td>
                            <td>{{ funcionario.salario }}</td>
                            <td>
                                <br>
                                <form action="{{ url_for('prato.remover_funcionario', id=funcionario.id) }}" method="post" >
                                    <button type="submit">Remover</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section>
            <h2>Adicionar Novo Funcionário</h2>
            <form action="{{ url_for('prato.add_funcionario') }}" method="post" class="book-form">
                <div class="flex">
                    <div class="inputBox">
                        <input type="text" name="nome" placeholder="Nome:" required>
                    </div>
                        <div class="inputBox">
                            <input type="text" name="cargo" placeholder="Cargo:" required>
                        </div>
                        <div class="inputBox">
                            <input type="number" name="cpf" placeholder="CPF:" required>
                        </div>
                
                        <div class="inputBox">
                            <input type="email" name="email" placeholder="Email:" required>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="salario" placeholder="Salario:" required>
                        </div>
            
                        <input type="submit" value="Adicionar" class="btn">
            </form>
        </section>
     
    </main>
</body>
</html>
