<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <a href="#" class="logo"> <i class="fas fa-drumstick-bite"></i>Fogo & Brasa</a>
        <nav class="navbar">
            <div class="box">
                <a href="{{ url_for('prato.index') }}">Home</a>
                <a href="{{ url_for('prato.sobre') }}">Sobre</a>
                <a href="{{ url_for('prato.logout') }}">Logout</a>
                <a href="{{ url_for('prato.index') }}">Menu</a>
            </div>
        </nav>
        <div id="menu" class="fas fa-bars"></div>
    </header>
    <main>
        <div class="heading-title" style="background: url(static/images/sub-header.jpg) no-repeat;">
            <h1>Login</h1>
        </div>
    
        <section class="booking">

        <h2>Faça Login</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('prato.login') }}" class="book-form">
            <div class="flex">
                <div class="inputBox">
                    <input type="text" name="user" placeholder="Usuário" required>
                </div>
                <div class="inputBox">
                    <input type="password" name="senha" placeholder="Senha" required>
                </div>
            </div>
            <input type="submit" value="Entrar" class="btn">
            </form>
    </section>
        
    </main>
</body>
</html>
